services:
  service_a:
    image: ghcr.io/plennon2019/rough1/service_a:latest
    ports:
      - "8001:8000"
    networks:
      - labnet

  service_b:
    image: ghcr.io/plennon2019/rough2b/service_b:latest
    env_file: ./.env
    depends_on:
      - service_a
    ports:
      - "8002:8000"
    networks:
      - labnet

networks:
  labnet:
